@{
    ViewData["Title"] = "Ajax";
}

<div class="text-center">
    <h1 class="display-4">Ajax DataTables</h1>
    <p>Veja o modelo <a href="https://datatables.net/examples/data_sources/ajax.html">Ajax DataTable</a>. O DataTables é encarregado de fazer o get do serviço de dados.</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <table id="example" class="table table-striped" style="width:100%"></table>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            serverSide: false,
            ajax: '/api/produtos/1000',
            columns: [
                { data: 'ncm', title: 'NCM', sortable: true, searchable: true },
                { data: 'nome', title: 'Produto', sortable: true, searchable: true },
                { data: 'municipal', title: 'Municipal', sortable: false, searchable: false },
                { data: 'estadual', title: 'Estadual', sortable: false, searchable: false },
                { data: 'federal', title: 'Federal', sortable: false, searchable: false },
                { data: 'importacao', title: 'Importação', sortable: false, searchable: false }
            ]
        });
    });
    </script>
}